<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">Fitness App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/um">User Maintenance</a>
      <a class="nav-item nav-link" href="/activity-maint/0">Activity Maintenance</a>
      <a class="nav-item nav-link" href="/nutrition-maint/0">Nutrition Maintenance</a>
      <a class="nav-item nav-link" href="/log-user-act/0">Log User Activity</a>
    </div>
  </div>
</nav>


<div class="container">

   <div class="jumbotron">
      <h3 class="text-center">Activity Maintenance</h3>
      <br>
   </div> <!--jumbotron-->

   <div class="row">
      <div class="col-4">
         <h5>Categories</h5>
         <button id="submit-cat" class="btn btn-primary float-right">Submit</button>
         <form class="clearfix mb-4" action="POST">
            <div class="form-group">
               <input type="text" class="form-control" id="category-name" placeholder="Enter New Category"></input>
            </div>
         </form>
         <hr>
         <ul>
         {{#each catList}}
            <li>
               <p>
               <a href="/activity-maint/{{id}}" class="catLink" data-id="{{id}}">{{category_name}}</a>
               <button class="btn btn-danger btn-sm float-right delete-cat" data-id="{{id}}">ｘ</button> <!---->
               </p>
               </li>
         {{/each}} 
         </ul>

      </div> <!--col-->

      <div class="col-7 offset-1">
         <h5>Activities</h5>
         <button id="submit-act" class="btn btn-primary float-right">Submit</button>
         <form class="clearfix mb-4" action="POST">
            <div class="form-group">
               <div class="row">
                  <input type="text" class="form-control col-6" id="activity-name" placeholder="Enter New Activity"></input>
                  <input type="text" class="form-control col-4 offset-1" id="new-met" placeholder="Enter New MET"></input>
               </div>
            </div>
         </form>
         <hr>
         <ul class="activityList">
         <div class="row">
            <p class="col-7"><strong>Activity</strong></p>
            <p class="col-5"><strong>MET</strong></p>
         </div>
         {{#each actList}}
         <form>
            <li>
               <p>
               <input type="text" class="actNameList" data-id="{{id}}" value="{{activity_name}}" name="activity_name" id="actName{{id}}""></input> 
               <input type="text" class="actMetList" data-id="{{id}}" value={{met}} name="met" id="actMet{{id}}""></input> 
               <button class="btn btn-danger btn-sm float-right delete-act" data-id="{{id}}">ｘ</button> 
               <button class="btn btn-danger btn-sm float-right update-act" value ="{{id}}" data-id="{{id}}" name="id" type="submit">upd</button> 
               </p>
            </li>
            </form>
         {{/each}} 
         </ul>

     </div> <!--col-->

  </div> <!--row-->
</div> <!--container-->


