<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">Fitness App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/um">User Maintenance</a>
      <a class="nav-item nav-link" href="/activity-maint/0">Activity Maintenance</a>
      <a class="nav-item nav-link" href="/nutrition-maint/0">Nutrition Maintenance</a>
      <a class="nav-item nav-link" href="/log-user-act/0">Log User Activity</a>
    </div>
  </div>
</nav>

<div id="home">
  <div class="container">

    <div class="jumbotron">
      <h3 class="text-center">Log User Activity</h3>
      <br>
    </div> <!--jumbotron-->

    <div class="row">

      <div class="col-2">
        <h5>Users</h5>
        <ul id="userList">
        {{#each userList}}
        <li>
          <p>
          <a href="" class="userLink" data-id="{{id}}">{{user_name}}</a>
          </p>
        </li>
        {{/each}} 
        </ul>
      </div> <!-- col-2 -->

      <div class="col-2">
        <h5>Categories</h5>
        <ul id="catList">
        {{#each catList}}
          <li>
            <p>
              <a href="" class="catLink" data-id="{{id}}">{{category_name}}</a>
            </p>
           </li>
        {{/each}} 
        </ul>
      </div> <!-- col-2-->

      <div class="col-2">
        <h5>Activities</h5>
        <ul id="actList">
        {{#each actList}}
          <li>
            <p>
              <a href="" class="actLink" data-id="{{id}}">{{activity_name}}</a>
            </p>
          </li>
        {{/each}} 
        </ul>
      </div> <!-- col-2-->

      <div class="col-6">
        <div class="row">
          <h5 id="activity-entry-header">Log Activity</h5>
          <p class="hidden" id="hidden_user_id" data-id=""></p>
          <p class="hidden" id="hidden_cat_id" data-id=""></p>
          <p class="hidden" id="hidden_act_id" data-id=""></p>
        </div>

        <hr>

        <div class="row">
          <div class="form-group">
            <label for="duration-input">Select Duration:</label>
            <input type="text" id="duration-input" placeholder="hh:mm, :mm">
            <button id="submit-user-act" class="btn btn-primary float-right">Submit</button>
          </div>
        </div>
      </div>
    </div> <!-- users/activities row -->

    <hr>
    <!-- weather and possibly places-->
    <div class="row">
      <div class="col-4" id="weatherCol">

        <h5>Today's Weather</h5> 
        <div class="row">
          <div class="col">
              <h6 id ="weaxDescription"></h6>
          </div>
          <div class="col">
              <img id="weaxIcon" src="assets/img/placeholderIcon.png" alt="img not found">
          </div>
        </div>
      </div>

      <div class="col-4" id="tempsCol">
        <h5>Temperatures</h5>
        <div class="row">
          <div class="col">
              <h6>Min</h6><p id="weaxCurrTemp"></p>
          </div>
          <div class="col">
              <h6>Min</h6><p id="weaxMinTemp"></p>
          </div>
          <div class="col">
              <h6>Max</h6><p id="weaxMaxTemp"></p>
          </div>
        </div>
      </div>

      <div class="col-4" id="windCol">
        <h5>Wind</h5>
        <div class="row">
          <div class="col">
              <h6>Speed</h6><p id="weaxWindSpeed"></p>
          </div>
          <div class="col">
              <h6>From The</h6><p id="weaxWindDirection"></p>
          </div>
          <div class="col">
              <h6>Cloud Cover</h6><p id="weaxCloudCoverPct"></p>
          </div>
        </div>
      </div>

    </div> <!-- weather/places row -->
    <hr>
  </div> <!-- container -->
</div> <!-- home -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/user-activity-log.js"></script>
